.DS_Store

###########################################
# IDE
###########################################
.vscode
.htpasswd
.idea
.sublime
.phpintel

###########################################
# Vendor
###########################################
node_modules/*
vendor/*
npm-debug.log

###########################################
# Testing
###########################################
index.php